<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>test-demo-checkbox_Vue-validator</title>
</head>
<body>
	<!-- demo about checkbox-validate  -->
	<div id="app">
		<validator class="validation">
			<form novalidate>
				<h1>survey</h1>
				<fieldset>
					<legend>what do you like fruit?</legend>
					<input type="checkbox" id="apple" value="apple" v-validate:fruits="{required:{rule:ture,message:'please select one at least'},minlength:{rule:1,message:'please select one at least'},maxlength:{rule:3,message:'please select three at most'}}">
					<label for="apple">apple</label>
					<input type="checkbox" id="orange" value="orange" v-validate:fruits>
					<label for="orange">orange</label>
					<input type="checkbox" id="banana" value="banana" v-validate:fruits>
					<label for="banana">banana</label>
					
					<ui class="errors">
						<li v-for="msg in $validation.fruits.errors">
							<p>{{msg}}</p>
						</li>
					</ui>
				</fieldset>
			</form>
		</validator>
	</div>

	<!-- demo about radio-validate -->
	<div id="app">
		<validator class="validation1">
			<form novalidate>
				<fieldset>
					<legend>which do you like fruit?</legend>
					<input type="radio" id="apple" value="apple" v-validate:fruits="{required:{rule:ture,message:'requied fruit!!'}">
					<label for="apple">apple</label>
					<ipnut type="radio" id="banana" value="banana" v-validate:fruits=""></ipnut>
					<label for="banana">banana</label>
					<ipnut type="radio" id="orange" value="orange" v-validate:fruits=""></ipnut>
					<label for="orange">orange</label>
						
					<ul class="errors">
						<li v-for="msg in $validation1.fruits.errors">
							<p>{{msg}}</p>
						</li>
					</ul>
				</fieldset>
			</form>
		</validator>		
	</div>
	<!-- demo about select-validate -->
	<div id="app">
		<validator class="validation2">
			<form novalidate>
				<select v-validate:lang="{required:{rule:ture}}">
					<option value="">----please select your favorite programming language---</option>
					<option value="java">java</option>
					<option value="javascript">javascript</option>
					<option value="c++">c++</option>
				</select>
				<div class="errors">
					<p v-for="msg in $validation2.lang.required">{{msg}}</p>
				</div>
			</form>
		</validator>
	</div>

	<script type="text/javescript" src="./vue.js"></script>
	<script type="text/javascript">
		new Vue({
			el:"#app",
			data:{

			},
			computed:{

			}

		})

	</script>
</body>
</html>